@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,500,600,700,800|Fjalla+One&display=swap');
/*--GENERAL--*/

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.row {
    text-align: center;
}

/*--/GENERAL--*/

/*--ANIMATIONS/TRANSITIONS--*/

@keyframes bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

.shows-container:hover {
    transform: scale(1.1);
}

.shows-container-two:hover {
    transform: scale(1.1);
}

.mapouter:hover {
    transform: scale(1.05);
}

.music-animation:hover {
    transform: scale(1.05);
}

.fab:hover {
    color: #adadad;
}

/*--/ANIMATIONS/TRANSITIONS--*/

/*--MENU--*/

.load {
    animation: bg 2.0s;
    -o-animation: bg 2.0s;
    -moz-animation: bg 2.0s;
    -webkit-animation: bg 2.0s;


}

/*--/MENU--*/

/*--BG IMAGE--*/

.bg {
    background: url("../images/bg.png");
    height: 90vh;
    background-attachment: fixed;
    background-position: right 50% bottom 50%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: bg 2.5s;
    -o-animation: bg 2.5s;
    -moz-animation: bg 2.5s;
    -webkit-animation: bg 2.5s;

}


/*--/BG IMAGE--*/

/*--MUSIC--*/

.music-fade {
    animation: bg 1.5s;
    -o-animation: bg 1.5s;
    -moz-animation: bg 1.5s;
    -webkit-animation: bg 1.5s;
}


.music-animation {
    transition: transform .3s;
}



/*--/MUSIC--*/

/*--UPCOMING SHOWS--*/

.fade-wrap {
    animation: bg .75s;
    -o-animation: bg .75s;
    -moz-animation: bg .75s;
    -webkit-animation: bg .75s;
}

.shows-text {
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
    border-bottom: 2px solid;
    border-top: 2px solid;
    margin-bottom: 50px;
}

.info-text {
    font-size: 18px;
    font-weight: 400;

}

.date {
    font-weight: 700;
    font-size: 20px;
}

.bottom-text {
    font-weight: 400;
    font-style: italic;
}

.shows-container {
    display: block;
    border-top: 2px solid;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 85%;
    transition: transform .25s;
}

.shows-container-two {
    display: block;
    border-bottom: 2px solid;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 85%;
    transition: transform .2s;

}

/*--MAP/CONTACT TEXT--*/

.nextshow-pad {
    padding: 3rem 3rem 1rem;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
    transition: transform .2s;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 100%;
    width: 100%;
}

/*--/MAP/TEXT--*/

/*--CONTACT US--*/

.follow-pad {
    padding-top: 35px;
}

.fab {
    color: black;
    padding-top: 10px;
    transition: color .15s;

}

.fa-youtube {
    padding-bottom: 25px;
}

.fade-contact {
    animation: bg 1.5s;
    -o-animation: bg 1.5s;
    -moz-animation: bg 1.5s;
    -webkit-animation: bg 1.5s;
}
/*--/UPCOMING SHOWS--*/
