@font-face {
font-family: 'ActionJackson'; 
src: url('actionj.ttf')  format('truetype')
}

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    font-family: 'ActionJackson', monospace;
}



.row {
    text-align: center;
}



/*--MENU--*/

.load {
    animation: bg 2.0s;
    -o-animation: bg 2.0s;
    -moz-animation: bg 2.0s;
    -webkit-animation: bg 2.0s;
}


/*--/MENU--*/

/*--BG IMAGE/ARROW--*/

.bg {
    background: url("../images/bg.png");
    height: 90vh;
    background-attachment: fixed;
    background-position: right 50% bottom 50%;
    background-repeat: no-repeat;
    background-size: contain;
    animation: bg 2.5s;
    -o-animation: bg 2.5s;
    -moz-animation: bg 2.5s;
    -webkit-animation: bg 2.5s;

}

@keyframes bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

/*--/BG IMAGE/ARROW--*/



/*--UPCOMING SHOWS--*/

.shows-text {
   
}

.shows-container {
    display: block;
}

.link-color {
    
}

.shows-vh {
    height: 65vh;
    
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 100%;
    width: 100%;
}
